/* @import url("https://webglfundamentals.org/webgl/resources/webgl-tutorials.css");
body {
  margin: 0;
  background-color: rgb(255, 255, 255);
}
/* canvas {
  width: 100vw;
  height: 100vh;
  display: block;
  background-color: rgb(255, 255, 255);
} */ 